<head>
    <title>{{ .Site.Title }}</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#000084" />
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <link rel="canonical" href="{{ .Site.BaseURL }}">

    {{- with .Site.Params.GoogleAnalyticsCode -}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ . }}');
    </script>
    
    {{- end -}}
    
    <noscript><style>body { visibility: visible }</style></noscript>
</head>
